[Desktop Entry]
Version=1.0
Type=Application
Name=BetrockViewer
Comment=Legacy Minecraft World Explorer
Exec=BetrockViewer %u
Icon=BetrockViewer
Terminal=false
Categories=Game;
