[Desktop Entry]
Version=1.0
Type=Application
Name=Betrock
Comment=Legacy Minecraft World Explorer
Exec=Betrock %u
Icon=Betrock
Terminal=false
Categories=Game;
