[Desktop Entry]
Version=1.0
Type=Application
Name=Betrock
Comment=Minecraft Beta 1.7.3 World Explorer
Exec=Betrock %u
Icon=Betrock
Terminal=false
Categories=Game;
